@model IEnumerable<SharePointFileUpload.Models.mdlDocs>

@{
    ViewData["Title"] = "GetListofDocs";
}

<h1>GetListofDocs</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.strFolderName)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.strFolderName)
            </td>
        </tr>
}
    </tbody>
</table>
